In [ ]:
#Read Data from 

import pandas as pd

# Read the sensor feature file (590 columns, no header)
df_features = pd.read_csv("C:/Users/Prajakta B/Desktop/SECOM_DATA/secom/secom.data",
                          delim_whitespace=True,  # or sep=' '
                          header=None)

# Read the labels file (two columns: label and timestamp)
df_labels = pd.read_csv("C:/Users/Prajakta B/Desktop/SECOM_DATA/secom/secom_labels.data",
                        delim_whitespace=True,
                        header=None)

df_features.head()
df_labels.head()

C:\Users\Prajakta B\AppData\Local\Temp\ipykernel_19756\2940576997.py:6: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df_features = pd.read_csv("C:/Users/Prajakta B/Desktop/SECOM_DATA/secom/secom.data",
C:\Users\Prajakta B\AppData\Local\Temp\ipykernel_19756\2940576997.py:11: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df_labels = pd.read_csv("C:/Users/Prajakta B/Desktop/SECOM_DATA/secom/secom_labels.data",

   0                    1
0 -1  19/07/2008 11:55:00
1 -1  19/07/2008 12:32:00
2  1  19/07/2008 13:17:00
3 -1  19/07/2008 14:43:00
4 -1  19/07/2008 15:22:00

In [10]:
#Combining data and creating proper structure of table

import pandas as pd

# Loading dataset 
try:
    secom_data = pd.read_csv('C:/Users/Prajakta B/Desktop/SECOM_DATA/secom/secom.data', delim_whitespace=True, header=None)
    labels = pd.read_csv('C:/Users/Prajakta B/Desktop/SECOM_DATA/secom/secom_labels.data', delim_whitespace=True, header=None)
except FileNotFoundError as e:
    print(f"Error: {e}. Please verify file paths and names.")
    exit()
    

# # Combine features and labels 
df = pd.concat([secom_data, labels], axis=1)


# # Rename columns like feature_1,2.. target_1,2..
num_sensors = secom_data.shape[1]  # Number of sensor columns
num_labels = labels.shape[1]       # Number of label columns
new_columns = [f'feature_{i+1}' for i in range(num_sensors)] + [f'target_{i+1}' for i in range(num_labels)]
df.columns = new_columns

df

C:\Users\Prajakta B\AppData\Local\Temp\ipykernel_19756\3233132748.py:7: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  secom_data = pd.read_csv('C:/Users/Prajakta B/Desktop/SECOM_DATA/secom/secom.data', delim_whitespace=True, header=None)
C:\Users\Prajakta B\AppData\Local\Temp\ipykernel_19756\3233132748.py:8: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  labels = pd.read_csv('C:/Users/Prajakta B/Desktop/SECOM_DATA/secom/secom_labels.data', delim_whitespace=True, header=None)

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_583,feature_584,feature_585,feature_586,feature_587,feature_588,feature_589,feature_590,target_1,target_2
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.0162,...,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN,-1,19/07/2008 11:55:00
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,...,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045,-1,19/07/2008 12:32:00
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.0041,...,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602,1,19/07/2008 13:17:00
3,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,-0.0124,...,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432,-1,19/07/2008 14:43:00
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,-0.0031,...,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432,-1,19/07/2008 15:22:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,2899.41,2464.36,2179.7333,3085.3781,1.4843,100.0,82.2467,0.1248,1.3424,-0.0045,...,0.4988,0.0143,0.0039,2.8669,0.0068,0.0138,0.0047,203.1720,-1,16/10/2008 15:13:00
1563,3052.31,2522.55,2198.5667,1124.6595,0.8763,100.0,98.4689,0.1205,1.4333,-0.0061,...,0.4975,0.0131,0.0036,2.6238,0.0068,0.0138,0.0047,203.1720,-1,16/10/2008 20:49:00
1564,2978.81,2379.78,2206.3000,1110.4967,0.8236,100.0,99.4122,0.1208,NaN,NaN,...,0.4987,0.0153,0.0041,3.0590,0.0197,0.0086,0.0025,43.5231,-1,17/10/2008 05:26:00
1565,2894.92,2532.01,2177.0333,1183.7287,1.5726,100.0,98.7978,0.1213,1.4622,-0.0072,...,0.5004,0.0178,0.0038,3.5662,0.0262,0.0245,0.0075,93.4941,-1,17/10/2008 06:01:00
1566,2944.92,2450.76,2195.4444,2914.1792,1.5978,100.0,85.1011,0.1235,NaN,NaN,...,0.4987,0.0181,0.0040,3.6275,0.0117,0.0162,0.0045,137.7844,-1,17/10/2008 06:07:00

In [ ]:
# DESCRIPTIVE ANALYSIS - DUPLICATE DATA
import pandas as pd

# Duplicate row analysis
duplicate_mask = df.duplicated(keep=False)  # Mark all duplicates
duplicate_stats = {
    'total_rows': len(df),
    'duplicated_count': df.duplicated().sum(),
    'duplicated_percentage': (df.duplicated().mean() * 100).round(2),
   'duplicates_with_same_label': df.loc[df.duplicated(), new_columns[-1]].nunique(),
    'complete_duplicates': duplicate_mask.sum()
}

# # Key statistic values
print("Duplicate Analysis Report")
for stat, value in duplicate_stats.items():
    print(f"{stat.replace('_', ' ').title()}: {value}")

# # Result
if duplicate_stats['duplicated_count'] > 0:
    print("\nSample Duplicate Rows:")
    duplicates = df[duplicate_mask].sort_values(by=list(df.columns))
    # print(duplicates.head())
else:
    print("\nNo duplicate rows found")

Duplicate Analysis Report:
Total Rows: 1567
Duplicated Count: 0
Duplicated Percentage: 0.0
Duplicates With Same Label: 0
Complete Duplicates: 0

No duplicate rows found

In [16]:
# Descriptive Analysis - Zero volatility columns

import pandas as pd

def descriptive_analysis_zero_volatility(df):

    # Basic descriptive statistics
    desc_stats = df.describe().T  
    
    # Add variance calculation
    desc_stats['variance'] = df.var()
    
    # Identify zero-volatility columns (variance = 0)
    zero_vol_cols = desc_stats[desc_stats['variance'] == 0].index.tolist()
    
    # Calculate percentage of zero-volatility columns
    total_columns = df.shape[1]
    zero_vol_count = len(zero_vol_cols)
    zero_vol_percentage = (zero_vol_count / total_columns) * 100
    
    # Create summary report
    report = {
        # 'descriptive_stats': desc_stats,         # Full descriptive stats with variance
        'zero_volatility_cols': zero_vol_cols,   # List of zero-volatility columns
        'zero_volatility_count': zero_vol_count, # Count of zero-volatility columns
        'zero_volatility_percentage': zero_vol_percentage  # Percentage of zero-volatility columns
    }
    
    return report

#function call
analysis = descriptive_analysis_zero_volatility(secom_data)


print("Descriptive Statistics with Variance:")
print("\nZero Volatility Columns:")
print(analysis['zero_volatility_cols'])
print(f"Count: {analysis['zero_volatility_count']}")
print(f"Percentage: {analysis['zero_volatility_percentage']:.2f}%")

Descriptive Statistics with Variance:

Zero Volatility Columns:
[5, 13, 42, 49, 52, 69, 97, 141, 149, 178, 179, 186, 189, 190, 191, 192, 193, 194, 226, 229, 230, 231, 232, 233, 234, 235, 236, 237, 240, 241, 242, 243, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 276, 284, 313, 314, 315, 322, 325, 326, 327, 328, 329, 330, 364, 369, 370, 371, 372, 373, 374, 375, 378, 379, 380, 381, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 414, 422, 449, 450, 451, 458, 461, 462, 463, 464, 465, 466, 481, 498, 501, 502, 503, 504, 505, 506, 507, 508, 509, 512, 513, 514, 515, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538]
Count: 116
Percentage: 19.66%

In [ ]:
#  Descriptive Analysis - Low volatility column analysis using histogram and pareto chart

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

def low_volatility_analysis(df, threshold=0.01, max_hist=5):
    """
    Descriptive analysis of low-volatility columns in a DataFrame using histograms and a Pareto chart.
    
    Parameters:
    - df (pd.DataFrame): Input DataFrame with numeric columns.
    - threshold (float): Proportion of max variance to define 'low volatility' (default 0.01 = 1%).
    - max_hist (int): Maximum number of histograms to display (default 5).
    """
    # Calculate variances for all columns
    variances = df.var(numeric_only=True)
    max_var = variances.max()
    low_var_cols = variances[variances <= max_var * threshold].sort_values()
    
    # Print summary
    print(f"Low-volatility threshold: {max_var * threshold:.4g}")
    print(f"Columns with low volatility: {len(low_var_cols)} / {df.shape[1]} "
          f"({len(low_var_cols)/df.shape[1]*100:.2f}%)")
    print("Low-volatility columns:", list(low_var_cols.index))
    
    # Plot histograms for up to max_hist low-volatility columns
    for col in low_var_cols.index[:max_hist]:
        plt.figure(figsize=(7, 4))
        sns.histplot(df[col].dropna(), bins=30, kde=False, color='skyblue')
        plt.title(f'Histogram: {col} (Var: {variances[col]:.4g})')
        plt.xlabel(col)
        plt.ylabel('Frequency')
        plt.tight_layout()
        plt.show()
    
    # Pareto chart for low-volatility columns
    if not low_var_cols.empty:
        cum_pct = low_var_cols.cumsum() / low_var_cols.sum() * 100
        fig, ax1 = plt.subplots(figsize=(10, 5))
        ax1.bar(low_var_cols.index, low_var_cols.values, color='C0')
        ax1.set_ylabel('Variance', color='C0')
        ax1.tick_params(axis='y', labelcolor='C0')
        ax1.set_xticklabels(low_var_cols.index, rotation=90)
        
        ax2 = ax1.twinx()
        ax2.plot(low_var_cols.index, cum_pct, color='C1', marker='o')
        ax2.set_ylabel('Cumulative %', color='C1')
        ax2.tick_params(axis='y', labelcolor='C1')
        
        plt.title('Pareto Chart of Low-Volatility Columns')
        plt.tight_layout()
        plt.show()

# Example usage:
# df = pd.read_csv('your_data.csv')
# low_volatility_analysis(df)
which python
which pip

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
# Descriptive Analysis - Missing values using histogram and pareto chart

In [ ]:
# Descriptive Analysis - Correlation heatmap